{% extends "base.html" %}
{% load url from future %}

{% block content %}

<h1>{{ post.title }}</h1>

<div class='byline'>by <span class='author'>unknown</span> on <span class='publication-date'>{{ post.created_at }}</span></div>
{% if user.is_staff %}
  <div class='edit-link'><a href='{% url 'edit_post' post.id %}'>Edit</a></div>
{% endif %}

<div class='post-body'>
  {{ post.body }}
</div>

<ul>
{% for comment in post.comment_set.all %}
    <div>
      <div class='comment-title'>{{ comment.title }}</div>
      <div class='byline'>by <span class='author'>unknown</span> on <span class='publication-date'>{{ comment.created_at }}</span></div>
      <div class='comment-body'>{{ comment.body }}</div>
    </div>
{% endfor %}
</ul>

{% endblock %}
