{% extends 'base.html' %}

{% load comments %}
{% load url from future %}

{% block content %}

    {% get_comment_count for post as comment_count %}
    {% get_comment_list for post as comment_list %}

    <div id='post-header'>
        <h1 id='post-title'>{{ post.title }}</h1>

        <div id='post-metadata'>
            <div class='byline'>by <span class='author'>unknown</span> on <span class='publication-date'>{{ post.created_at }}</span></div>
            {% if user.is_staff %}
                <div id='post-edit-link'><a href='{% url 'edit_post' post.id %}'>Edit</a></div>
            {% endif %}
        </div>
    </div>

    <div id='post-body'>
        {{ post.body }}
    </div>

    <div id='comments'>
        <div id='comments-header'>Comments <span id='comment-count'>({{ comment_count }})</span></div>
        <div id='new-comment-link'><a href='#'>Add Comment</a></div>
        
        <div id='new-comment-form'>
            {% with post.get_absolute_url as next %}
                {% render_comment_form for post %}
            {% endwith %}
        </div>
  
        <ul>
            {% for comment in comment_list %}
                <li>
                    {% include 'comments/_comment.html' with comment=comment %}
                </li>
            {% empty %}
                <li>
                    <p>No comments yet.</p>
                    <p>Use the 'Add Comment' link above to be the first to comment on this post!</p>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
