{% extends 'base.html' %}
{% load url from future %}

{% block content %}

    <div id='login-template' class='registration-templates'>
        <form id='login-form' method='post' action='{% url 'django.contrib.auth.views.login' %}'>
            <div id='signin-text'>
                <h3>Sign in</h3>
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% else %}
                    <p>Please sign in with your username and password.</p>
                {% endif %}
            </div>
        
            {% csrf_token %}
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>

            <input type='submit' value='Sign in' />
            <input type='hidden' name='next' value='{{ next }}' />
        </form>
    </div>

{% endblock %}