{% load url from future %}

<html>
    <head>
        <script type='text/javascript' src='http://www.google.com/jsapi'></script>
        <script type='text/javascript'>
            google.load('jquery', '1.4');
        </script>
        
        <link href='{{ STATIC_URL }}stylesheets/application.css' rel='stylesheet' type='text/css' media='screen' />
    </head>

    <body>
        <div id='page'>
            <div id='page-header' class='clearfix'>
                <span id='home-link' class='button'><a href='{% url 'posts' %}'>Blog++</a></span>
                
                <div id='user-management'>
                    {% if user.is_authenticated %}
                        <span id='user-welcome'>Welcome, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}.</span>
                        
                        {% if user.is_staff %}
                            <span id='new-post-link' class='button bright'><a href='{% url 'new_post' %}'>New Post</a></span>
                        {% endif %}
                        
                        <span id='session-management-link' class='button'><a href='{% url 'logout' %}'>Sign out</a></span>
                    {% else %}
                        <span id='session-management-link' class='button bright'><a href='{% url 'login' %}'>Sign in</a></span>
                    {% endif %}
                </div>
            </div>

            <div id='page-content'>
                {% block content %}
                {% endblock %}
            </div>
            
            <div id='page-footer'>
                <div id='rss-subscribe'>
                    Like what you see? <span class='button bright'><a href='{% url 'all_posts_feed' %}'>Subscribe to our feed</a></span> in your favorite RSS reader.
                </div>
                
                <div id='copyright'>
                    copyright 2011 by Emily
                </div>
            </div>
        </div>
    </body>
</html>