{% load url from future %}

<div id='page-header'>
    <span id='home-link'><a href='{% url 'posts' %}'>Home</a></span>
    |
    
    {% if user.is_authenticated %}
        <span>Welcome, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}.</span>
        | 
        <span class='session-management-link'><a href="/accounts/logout">Sign out</a></span>
    {% else %}
        <span class='session-management-link'><a href="/accounts/login">Sign in</a></span>
    {% endif %}
</div>

<div id='page-content'>
{% block content %}
{% endblock %}
</div>
