<div class='pagination-nav'>
    <span class='step-links'>
        <span class='pagination-control'>
            {% if paginatior.num_pages > 1 and page_obj.number != 1 %}
                <a class='pagination-control' href='?page=1'>first</a>
            {% else %}
                first
            {% endif %}
        </span>
    
        <span class='pagination-control'>
            {% if page_obj.has_previous %}
                <a href='?page={{ page_obj.previous_page_number }}'>previous</a>
            {% else %}
                previous
            {% endif %}
        </span>

        <span class='current'>
            page {{ page_obj.number }} of {{ paginator.num_pages }}
        </span>

        <span class='pagination-control'>
            {% if page_obj.has_next %}
                <a class='pagination-control' href='?page={{ page_obj.next_page_number }}'>next</a>
            {% else %}
                next
            {% endif %}
        </span>
    
        <span class='pagination-control'>
            {% if paginatior.num_pages > 1 and page_obj.number == paginator.num_pages %}
                <a class='pagination-control' href='?page=last'>last</a>
            {% else %}
                last
            {% endif %}
        </span>
    </span>
</div>